h1{
    color: rgb(79, 13, 222);
}
.ol{
    font-size: 25px;
    color: rgb(226, 43, 116);
}
.ul{
    font-size: 25px;
    color: rgb(46, 226, 43);
}
.firstdiv{
    width: 500px;
    height: 500px;
    background-color: #76cfbf; 
    border-width: 3px;
    border-color: #4682b4;     
    border-style: solid;
    border-radius: 20%;
    margin: 10px;
    padding: 5px;
    color: blue;

}
.normal-para{
    color: rgb(18, 78, 8);
}
#favpara{
    color: rgb(207, 92, 236);
}
.gmail{
    font-size: 24px;
    color: rgb(255, 0, 0);
}